<td><a href=" {{ path( "ps_consultation_view", {'id': consultation.id} ) }} "> <i class="glyphicon glyphicon-search"></i></a></td>
<td><a href=" {{ path( "ps_consultation_edit", {'id': consultation.id} ) }} "> <i class="glyphicon glyphicon-pencil"></i></a></td>
<td><i class="glyphicon glyphicon-trash"></i></td>