body{ 
    margin-top:20px; 
}

/*** Begin Custom-Fafa CSS ***/

.control-label.required:after { 
    content:" *"; 
}


fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

#createNewMotherCBDiv {
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;  
}

.boxShadow {
border-top: 10px solid #8c8b8b;
}

.table-view-patient th{
    white-space: nowrap;
}
.table-view-patient td:last-child {
    width: 100%;
}

#list_mother_wrapper, #list_father_wrapper, .table_body_padding {
    padding: 10px;
}

.checkbox_parent_add_form input{ 
    width:20px; 
    height:20px;
}

.edit_consult_table textarea {
    resize:vertical;
}

.edit_consult_table td {
    border-top: none !important;
}

.inline_baseline {
  vertical-align: center;
}

.inline {
  display: inline-block;
  vertical-align: center;
}

.color_cyan {
    background-color: cyan;
}

.align_right {
    display: inline-block;
    text-align: right;
}

footer {
    margin-top: 30px;
}

#accordion_consultation_parents {
    margin-bottom: 20px;
}

#ps_consultationbundle_consultation_date {
    width: 150px;
}

.custom-navbar-background {
    background-color: white;
    border-color: white;
}

.custom-button-navbar-right {
    margin-right: 0px;
}

.date_consultation{
    margin-bottom: 10px; 
    border-radius: 5px;
}

/*** End Custom-Fafa CSS ***/

