
<div class="col-md-12">
    <h3> mother.patient</h3>
  
    
    <fieldset id="fieldsetSEM" class="form-group">
        <legend>Select Existing Mother</legend>
       {{ form_row(form.mother) }}
    </fieldset>

    <div id="createNewMotherCBDiv" class="form-group checkbox">
        <label><input id="createNewMotherCB" type="checkbox"> create new mother</label>
    </div>
    
    <fieldset id="fieldsetCNM" class="form-group">
        <legend>Create New Mother</legend>
        {{ form_row(form.motherNew) }}
    </fieldset>

</div>