{% extends "PSCoreBundle::layout.html.twig" %}

{% block content %}

{% endblock %}


        {% set person_type_list = {patient:'patient', mother:'mother', father:'father'} %}
        {% set table_template_dir_path = 'PSCustomerBundle:Patient:person_table_template' %}
        {% set table_content_template_dir_path = table_template_dir_path ~ '/content_template.html.twig' %}
        {% set table_head_template_dir_path = table_template_dir_path ~ '/head_template.html.twig' %}
        
        <table id="listPatients" class="table table-striped table-bordered display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {{ include( table_head_template_dir_path, {'person_type' : person_type_list.mother, 'showID' :true} ) }}
                </tr>
            </thead>
            <tfoot>
                <tr>
                    {{ include( table_head_template_dir_path, {'person_type' : person_type_list.mother, 'showID' :true} ) }}
                </tr>
            </tfoot>
            <tbody>
                {% for patient in listPatients %}
           
                    <tr>
                        
                        <td>{{ patient.id }}</td>    

                        {{ include( table_content_template_dir_path, {'person' : form.name.vars.data, 'person_type' : person_type_list.mother, 'showID' :true} ) }} 
                        

                    </tr>
                 {% endfor %}
            </tbody>
        </table>
