<td><a href=" {{ path( "ps_#{person_type}_view", {'id': person.id} ) }} "> <i class="glyphicon glyphicon-search"></i></a></td>
<td><a href=" {{ path( "ps_#{person_type}_edit", {'id': person.id} ) }} "> <i class="glyphicon glyphicon-pencil"></i></a></td>
<td><i class="glyphicon glyphicon-trash"></i></td>