<td><a href=" {{ path( "ps_#{person_type}_view", {'id': person.id} ) }} "> <i class="glyphicon glyphicon-search" title="{{ 'view' | trans }}"></i></a></td>
<td><a href=" {{ path( "ps_#{person_type}_edit", {'id': person.id} ) }} "> <i class="glyphicon glyphicon-pencil" title="{{ 'edit' | trans }}"></i></a></td>