<div class="wizard-inner">
    <div class="connecting-line"></div>
    <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active">
            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="{{ 'patient.info'|trans }}">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
            </a>
        </li>

        <li role="presentation" class="disabled">
            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="{{ 'mother.info'|trans }}">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
            </a>
        </li>
        <li role="presentation" class="disabled">
            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="{{ 'father.info'|trans }}">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
            </a>
        </li>

        <li role="presentation" class="disabled">
            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="{{ 'summary'|trans }}">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
            </a>
        </li>
    </ul>
</div>
